<a href="https://colab.research.google.com/github/saurabh-sisodiya/MLproject/blob/main/session_16_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###`Q-1:` Write a program to create an empty series.

In [2]:
# code here
import pandas as pd
series = pd.Series()

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [7]:
# code here
l1 = [1,2,3,4,5]
l2 = [0,9,8,7,6]

series_1 = pd.Series(l1)
series_2 = pd.Series(l2)

add = series_1 + series_2
print(add)
subs = series_1 - series_2
print(subs)
mul = series_1 * series_2
print(mul)
div = series_1 / series_2
print(div)

0     1
1    11
2    11
3    11
4    11
dtype: int64
0    1
1   -7
2   -5
3   -3
4   -1
dtype: int64
0     0
1    18
2    24
3    28
4    30
dtype: int64
0         inf
1    0.222222
2    0.375000
3    0.571429
4    0.833333
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [ ]:
# code here
l1 = [2, 4, 6, 8, 10]
l2 = [1, 3, 5, 7, 10]
ser1 = pd.Series(l1)
ser2 = pd.Series(l2)

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [ ]:
# code here

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [20]:
# code here
series = pd.read_csv("/content/batsman_runs_series.csv",index_col="batter")
most_run = series.sort_values(by="batsman_run",ascending=False).head(10)
most_run

                batsman_run
batter
V Kohli                6634
S Dhawan               6244
DA Warner              5883
RG Sharma              5881
SK Raina               5536
AB de Villiers         5181
CH Gayle               4997
MS Dhoni               4978
RV Uthappa             4954
KD Karthik             4377

###`Q-7` No of players having runs above 3000

In [26]:
# code here
series[series > 3000].count()

batsman_run    20
dtype: int64

###`Q-8` No of players having runs above mean value?

In [27]:
# code here
series[series > series.mean()].count()

batsman_run    128
dtype: int64

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [28]:
items = pd.read_csv("items.csv", index_col="item_name")

In [52]:
# code here
# items[items.isnull()].
# items.size - items.count().astype('int16')

items[items.isnull()]

item_price    0
dtype: int64

In [64]:
items['item_price'].apply(lambda x:(x.split('$')*80 for i in items['item_price']))
# items['item_price'].

item_name
Chips and Fresh Tomato Salsa             <generator object <lambda>.<locals>.<genexpr> ...
Izze                                     <generator object <lambda>.<locals>.<genexpr> ...
Nantucket Nectar                         <generator object <lambda>.<locals>.<genexpr> ...
Chips and Tomatillo-Green Chili Salsa    <generator object <lambda>.<locals>.<genexpr> ...
Chicken Bowl                             <generator object <lambda>.<locals>.<genexpr> ...
                                                               ...
Steak Burrito                            <generator object <lambda>.<locals>.<genexpr> ...
Steak Burrito                            <generator object <lambda>.<locals>.<genexpr> ...
Chicken Salad Bowl                       <generator object <lambda>.<locals>.<genexpr> ...
Chicken Salad Bowl                       <generator object <lambda>.<locals>.<genexpr> ...
Chicken Salad Bowl                       <generator object <lambda>.<locals>.<genexpr> ...
Name: item_price, Length: 4622, dtype: object

In [62]:
items.fillna(items.mean())

TypeError: can only concatenate str (not "int") to str

###`Q-10`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [ ]:
# code here